/* Basic Structure */
    *{
    box-sizing: border-box;
    margin: 0px auto;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #605770;
    color: black;
    width: 700px;
}

.title {
    margin: 20px 10px;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: black;
    background-color:#FF9595;
}

.subtitle {
    margin: 10px 10px 0px 10px;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: black;
    background-color:rgba(109, 192, 213, 0.6);
}

.list{
    margin: 0px 10px 10px 10px;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color:rgba(140, 223, 214, 0.6);
}

a{
    color: black;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }


/* Subpages */

.home{
    margin: 0px 10px 0px 10px;
    padding: 10px 40px 0px 40px;
    font-size: 14px;
    color: black;
    background-color:rgba(140, 223, 214, 0.6);
    text-align: right;
}

.recipe{
    margin: 0px 10px 10px 10px;
    padding: 10px 40px 20px 40px;
    font-size: 14px;
    color: black;
    background-color:rgba(140, 223, 214, 0.6);
}

.image_cover{
    width: 600px;
    height: auto;
}

.image{
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.description{
    padding: 0px 0px 20px 0px;
}

.ingredients{
    padding: 0px 0px 20px 0px;
}

.steps{
    padding: 0px 0px 20px 0px;
}

h3{
    padding: 0px 0px 10px 0px;
    color:#F7EE7F;
    text-decoration: underline;
}